<!DOCTYPE html>
<html>
<head>
    <title>Your Certificates</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100">

<div class="max-w-5xl mx-auto mt-10">

    <div class="flex justify-between mb-6">
        <h2 class="text-2xl font-bold">Certificates</h2>
        <a href="{% url 'profile_upload_certificate' %}" class="px-4 py-2 bg-green-600 text-white rounded-xl">+ Upload Certificate</a>
    </div>

    <div class="grid grid-cols-3 gap-6">
        {% for c in certificates %}
        <div class="bg-white shadow-md rounded-xl p-4">
            <img src="{{ c.image.url }}" class="rounded-xl">
            <p class="mt-2 font-semibold">{{ c.title }}</p>
        </div>
        {% endfor %}
    </div>
</div>

</body>
</html>
